<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.tsp.air.mapper.MemberMapper">

	<insert id="join_check" parameterType="memberVo">
		INSERT INTO MEMBER_INFO
			(UID, UPW, UNAME, UPHONE)
		VALUES
			(#{uId}, #{uPw}, #{uName}, #{uPhone})
	</insert>
	
	<select id="login_check" resultType="memberVo">
		SELECT
			UID,
			UPW,
			UNAME,
			UPHONE
		FROM
			MEMBER_INFO
		WHERE
			UID = #{uId}
			AND
			UPW = #{uPw}
	</select>

</mapper>